{% extends 'base.html' %}
{% block content %}
<div class="card narrow">
  <h3>Edit Employee</h3>
  <form method="post">
    <input name="employee_code" value="{{employee.employee_code}}" required>
    <input name="full_name" value="{{employee.full_name}}" required>
    <input name="email" type="email" value="{{employee.email}}" required>
    <input name="role" value="{{employee.role}}" required>
    <input name="joining_date" type="date" value="{{employee.joining_date}}" required>
    <select name="status">
      {% for s in ['Active','On Leave','Inactive'] %}
      <option value="{{s}}" {% if employee.status==s %}selected{% endif %}>{{s}}</option>
      {% endfor %}
    </select>
    <select name="department_id" required>
      {% for d in departments %}
      <option value="{{d.id}}" {% if employee.department_id==d.id %}selected{% endif %}>{{d.name}}</option>
      {% endfor %}
    </select>
    <div class="inline">
      <button>Save Changes</button>
      <a class="btn" href="{{url_for('main.employees')}}">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
